@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello Guys I'm Under the Water</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">NerdjhanSanity Haha</a>.</p>
</div>
